body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'DeutschGothicCyr', sans-serif;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-size: 48px;
    pointer-events: none;
}

@font-face {
    font-family: 'DeutschGothicCyr';
    src: url('fonts/DeutschGothicCyr.ttf') format('truetype');
}

@font-face {
    font-family: 'DestroyCyr';
    src: url('fonts/DestroyCyr.ttf') format('truetype');
}

@font-face {
    font-family: 'FutharkAoe';
    src: url('fonts/FutharkAoe.ttf') format('truetype');
}

body {
    background: url('assets/Nostai.png') no-repeat center center fixed;
    background-size: cover;
}
